.postContainer {
    display: flex;
}

.postBox {
    margin: 0 auto;
    width: 70rem;
    max-height: 40rem;
    padding: 5rem 5rem;
    background-color: rgb(243, 243, 243);
    overflow-y: auto;
    margin-bottom: 2rem;
    position: relative;
}

.postBox::-webkit-scrollbar {
    width: 4px;
    background-color: rgb(142, 142, 142);
}

.delete {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1.3rem;
    position: absolute;
    right: 2rem;
    top: 2rem;
}

.title {
    font-size: 2rem;
    color: rgb(77, 77, 77);
}

.category {
    font-size: 1.4rem;
    margin-top: 2rem;
}

.date {
    font-size: 1.4rem;

}

.authorName {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.content {
    font-size: 1.8rem;
    margin-top: 1.7rem;
}